// tailwind.config
@tailwind base;
@tailwind components;
@tailwind utilities;

// sweetalert2 theme dark
@import "@sweetalert2/theme-dark/dark.scss";

// disable arrow on input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// styles
$dark: #1f1d2b !important;
$orange: #ea7c69 !important;
$red: #ff7ca3 !important;
$grey: #2d303e !important;

html {
  background-color: #252836 !important;
}

.bg-dark {
  background-color: $dark;
}

.bg-orange {
  background-color: $orange;
}

.bg-grey {
  background-color: $grey;
}

.text-orange {
  color: $orange;
}

.text-red {
  color: $red;
}

.divider-title {
  margin-top: 0.3rem;
  border-bottom: 2px solid white;
  border-radius: 50px 50px;
}

// tailwind
.menu-active {
  background-color: $orange;
}

.input {
  max-width: 100rem !important;
}


// sweetalert2
.swal2-modal {
  background-color: #232323 !important;
}
